* { box-sizing: border-box; }

body {
  background-image: url("../images/8.jpg");
}

.padre-register {
  text-align: center;
}

.register {
  width: 20%;
  height: 30%;
  margin-top: 20%;
  display: inline-block;
}

#r-user-pass {
  -webkit-appearance: none;
  border: none;
  padding-left: 2%;
  width: 70%;
  height: 10%;
}


#barrita {
  width: 100%;
}

#titulo {
  font-size: 25px;
  color: white;
}
